header {
	width: 100%;
	max-width: 1240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	padding-top: 50px;

	img {
		@media (max-width: 550px) {
			width: 150px;
		}

		@media (max-width: 360px) {
			width: 115px;
		}
	}

	nav {
		display: flex;
		gap: 50px;

		@media (max-width: 550px) {
			gap: 20px;
		}

		@media (max-width: 360px) {
			gap: 10px;
			font-size: 0.8em;
		}

		.link-active {
			text-decoration: underline;
		}
	}
}
