@use '../../utils/styles' as *;

footer {
	background-color: black;
	color: white;
	@include flex-column;
	align-items: center;
	padding: 30px 0;
	font-size: 1.3em;
	font-weight: 400;
	@include full-width-set-height(190px);
	position: absolute;
	left: 0;
	bottom: 0;

	@media (max-width: 550px) {
		font-size: 0.9em;
	}

	img {
		margin: 20px 0 40px 0;
	}
}
