@use './utils/styles' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

body {
	min-height: 100vh;
	padding: 0 100px;
	position: relative;

	@media (max-width: 1200px) {
		padding: 0 50px;
	}

	@media (max-width: 550px) {
		padding: 0 20px;
	}
}

#root {
	width: 100%;
	@include flex-column;
	align-items: center;
}

main {
	max-width: 1240px;
	width: 100%;
	padding-bottom: 190px;
}

a {
	text-decoration: none;
	color: $color-primary;
}
